body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: url(BackgroundWebsite.avif) no-repeat;

}


nav {
    background-color: #444;   
    padding: 15px;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

nav a:hover {
    color: rgb(0, 89, 255);
}


p {
    text-align: center;
    font-size: 18px;
    color: darkgreen;   
}


.gallery {
    text-align: center;
    margin: 20px;
    
}

.gallery img {
    margin: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);  
    transition: transform 0.3s ease;  
    max-height: 500px;
    max-width: 600px;        
}


.gallery img:hover {
    transform: scale(1.05); 
}

footer {
    text-align: center;
    padding: 15px;
    background-color: lightgray;
    margin-top: 30px;
}